numpy
pandas
matplotlib
seaborn
scikit-learn
scipy
torch
torchvision
transformers
tensorflow
keras
fastai
huggingface_hub
datasets
pytorch-lightning
tqdm
sentencepiece
spacy
nltk
openai
gradio
flax
jupyterlab
streamlit
pillow
pyyaml
black
plotly
optuna
wandb
langchain
python-dotenv
langchain_community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain_huggingface
tf-keras
faiss-gpu-cu12
langchain_chroma
streamlit
langchain_community